*
!.config/ytmenurc
!.config/dunst
!.config/mpd
!.config/ncmpcpp
!.config/newsboat
!.config/nsxiv
!.config/paru
!.config/picom.conf
!.config/shell
!.config/sxhkd
!.config/bspwm
!.config/gtk-2.0
!.config/gtk-3.0
!.config/polybar
!.config/shell
!.config/X11
!.config/wal
!.config/zathura
!.config/git
!.config/nvim
!.config/fontconfig
!.scripts/*
!.local/bin/statusbar/*
!.local/share/fonts/*
!pix/wall/*
!.Xmodmap
!.gitconfig
!.gtkrc-2.0
!.zprofile
!.zshrc
!README.org
!.gitignore
!dox/0x0/*
!dox/ebooks/*
!dox/licenses/*
!.emacs.d
